.redirigir{
    position: absolute;
    width: 200px;
    right: 500px;
    top: 200px;
}

.tamanio{
    position: absolute;
    width: 50px;
} 

.telefono{
    top: 111px;
    right: 690px;
}

.whats{
    top: 170px;
    right: 690px;
}

.gmail{
    top: 225px;
    right: 825px;
}

#container{
    position: relative;
}

#ayuda{
    position: absolute;
    width: 37px;
    height: 37px;
    right: 75px;
    bottom: 10px;
}